@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Raleway", system-ui, sans-serif;
    user-select: none;
  }
}

@layer components {
  .border-gradient {
    border: 1px solid transparent;
    border-image: linear-gradient(
      150deg,
      theme("colors.light-blue.DEFAULT"),
      theme("colors.dark-blue.400") 20%,
      theme("colors.transparent") 40%
    );
    border-image-slice: 1;
    border-radius: 10px;
  }

  .border-gradient-revert {
    border: 1px solid transparent;
    border-image: linear-gradient(
      330deg,
      theme("colors.light-blue.DEFAULT"),
      theme("colors.dark-blue.400") 20%,
      theme("colors.transparent") 40%
    );
    border-image-slice: 1;
    border-radius: 10px;
  }

  .border-gradient-salmon {
    border: 1px solid transparent;
    border-image: linear-gradient(
      150deg,
      theme("colors.salmon.100"),
      theme("colors.salmon.500") 20%,
      theme("colors.transparent") 40%
    );
    border-image-slice: 1;
    border-radius: 10px;
  }

  .border-gradient-salmon-revert {
    border: 1px solid transparent;
    border-image: linear-gradient(
      330deg,
      theme("colors.salmon.100"),
      theme("colors.salmon.500") 20%,
      theme("colors.transparent") 40%
    );
    border-image-slice: 1;
    border-radius: 10px;
  }

  .flip-box {
    perspective: 1000px;
  }

  .flip-box-inner {
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front,
  .flip-box-back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }

  .flip-box-back {
    transform: rotateY(180deg);
  }

  .text-shadow {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  @apply border-b border-dark;
  -webkit-box-shadow: 0 0 0px 1000px transparent inset;
  transition: background-color 5000s ease-in-out 0s;
}
